html, body {
    height: 100%;
}

body {
    background-color: #181818;
    font-family: Poppins, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    display: flex;
    height: 760px;
    width: 1630px;
    border: solid 3px #a67c00;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    align-content: center;
    flex-wrap: wrap;
    row-gap: 40px;
    margin: 0 50px;
    padding: 0 35px;
}

.left-container {
    display: flex;
    flex-direction: column;
}

.game-header {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #afaeae;
}

.header {
    font-size: 90px;
    font-weight: 900;
    max-width: 600px;
    line-height: 110px;
    letter-spacing: 4px;
    color: #F2F3F4;
}

.description {
    font-size: 17px;
    font-style: italic;
    color: #a67c00;
}

.right-container {
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.right-header {
    color: #F2F3F4;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 24px;

}

.score-counter {
    display: flex;
    justify-content: space-evenly;
    font-size: 19px;
    letter-spacing: 1px;
    color: #afaeae;
    padding-top: 20px;
    padding-bottom: 15px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

.icon {
    margin: 10px;
    color: #afaeae;
}

#button {
    width: 120px;
    height: 120px;
    font-size: 70px;
    background-color: transparent;
    border: solid 2px #a67c00;
    border-radius: 15px;
    transition-duration: 0.4s;
}

#button:hover {
    background-color: #313131;
}

#button:active {
    background-color: #181818;
}

.output-message {
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    color: #F2F3F4;
}

.button-container {
    display: flex;
    justify-content: center;
}

.play-again {
    font-size: 13px;
    padding: 10px 40px;
    background-color: transparent;
    border: solid 1px #a67c00;
    border-radius: 30px;
    color: #afaeae;
    font-weight: 600;
    letter-spacing: 2px;
}

.play-again:hover {
    background-color: #313131;
}

.play-again:active {
    background-color: #181818;
}

.display-choice {
    color: #afaeae;
    display: flex;
    justify-content: space-evenly;
    font-size: 60px;
    padding-bottom: 20px;

}

.round-result {
    color: #afaeae;
    text-align: center;
}